body {
    margin: 0;
    background-image: url("../images/fon.jpg"); 
}
.zogolovok {
    /*margin-left: 5%;*/
    text-align: center;
}
.text {
    text-align: center;
}
.imges {
    margin-top: 40px;
    text-align: center;
}
.targets{
    margin-top: 10px;
}
.img{
    margin-top: 10px;
}

@media (min-width: 576px){
    .container {
    max-width: 540px;
    }
}
.buttonNews {
    border: none;
    background-color: #1c8203;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 20px;
    width: 100px;
    height: 45px;
}
.boxNews {  
    display: grid;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    grid-template-rows: 3rem 3rem 3rem 3rem;
    grid-template-columns: 45% 75%;
    column-gap: 20px;
    row-gap: 30px;
    width: 70%; 
}

@media (max-width: 600px){
    .boxNews {
        grid-template-rows: 3rem 3rem 1rem 3rem 3rem 3rem 3rem 3rem;
        grid-template-columns: 250px;
        row-gap: 30px;
        width: 30%;
    }
}
.buttonadmin {
    border: none;
    background-color: #1c8203;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 20px;
    width: 100px;
    height: 45px;
}
.inactive {
    background-color: #747674;
}

.textadmin{
    border-radius: 8px;
    border: 2px solid #d6d1d1;
}


.vectorGraphics {
    position: absolute;
    z-index: 1;
    padding: 1px;
    left: 40%;
    top: 267px;
    background-color: #c177ae;

}
.vectorGraphicsText{
    display:none;
}

.vectorGraphics:hover + .vectorGraphicsText{
    /*background-color:  #1da051;*/
    display: block;
}

.target {
    height: 80px;
    width: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid rgb(28, 130, 3);
    margin-top: 10px;
}
.targetText {
    height: 100px;
    width: 300px;
    margin-top: 16px;
}

.targetTextTransfer{
    height: 70px;
    width: 200px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    border: 3px solid rgb(28, 130, 3);
}

.targets {
    margin-left: 10%;
    width: 150px;
    height: 150px;
}

.main{
    display: flex;
}
.mainblok{
    display: flex;
    width: 70%;
    margin-left: 15%;
}

.blok1 {
    width: 350px;
    min-width: 250px;
    /*margin-left: 5%;*/
}

.blok2 {
    width: 370px;
    min-width: 350px;
    /*margin-left: 5%;*/
}

.blok3 {
    margin-left: 5%;
}

.texteria {
    resize: vertical;
    margin-top: 10px;
    height: 72px;
    border-radius: 10px;
    width: 250px;
    border: 3px solid rgb(28, 130, 3);
}
#var2 {
    display: none;
}

.true {
    width: 60px;
    height: 60px; 
    margin-top: 20px;
}
#folse1 {
    display: none;
    margin-left: 10px;
}
#true1 {
    display: none;
    margin-left: 10px;
}
#folse2 {
    display: none;
    margin-left: 10px;
}

#true2 {
    display: none;
    margin-left: 10px;
}
#folse3 {
    display: none;
    margin-left: 10px;
}

#true3 {
    display: none;
    margin-left: 10px;
}
#folse4 {
    display: none;
    margin-left: 10px;
}

#true4 {
    display: none;
    margin-left: 10px;
}
#folse5 {
    display: none;
    margin-left: 10px;
}

#true5 {
    display: none;
    margin-left: 10px;
}
#folse6 {
    display: none;
    margin-left: 10px;
}

#true6 {
    display: none;
    margin-left: 10px;
}
#folse7 {
    display: none;
    margin-left: 10px;
}

#true7 {
    display: none;
    margin-left: 10px;
}
#folse8 {
    display: none;
    margin-left: 10px;
}

#true8 {
    display: none;
    margin-left: 10px;
}
#folse9 {
    display: none;
    margin-left: 10px;
}

#true9 {
    display: none;
    margin-left: 10px;
}
#folse10 {
    display: none;
    margin-left: 10px;
}

#true10 {
    display: none;
    margin-left: 10px;
}



