a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    display: block;
    text-decoration: none;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0;
}
@font-face {
    font-weight: 500;
}
@font-face {

    font-weight: 700;
}
@font-face {

    font-weight: 400;
}
a:hover {
    text-decoration: none;
}
a:not([href]):hover {
    cursor: pointer;
}
.block-tabs__title {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    color: #000;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.block-tabs {
    background-color: #FFF;
    border: 1px solid #dee2e6!important;
    border-radius: 0.3rem!important;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    min-height: 500px;
    height: calc(100vh - 50px);
    overflow-y: auto;
    width: 340px;
    flex: none;
}
.block-tabs_margin {
    margin-right: 20px;
}
.block-tabs__item.active .block-tabs__title {
    background: #fdc9e3;
}
.block-tabs__item {
    margin-bottom: 20px;
}
.block-tabs__item:last-child {
    margin-bottom: 0;
}
.block-tabs__item:hover .block-tabs__title {
    background: #fdc9e3;
}
.block-content__item {
    background-color: #FFF;
    border: 1px solid #dee2e6!important;
    border-radius: 0.3rem!important;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.block-content {
    width: 100%;
}
.block-content__text {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    color: #000;
}
.block-content__image {
    display: block;
    max-width: 450px;
    max-height: 259px;
    border-radius: 10px;
    margin-left: 10px;
}
.wrapper {
    box-sizing: border-box;
    padding: 20px 0;
}
.block-content__big-image-wrapper {
    width: 100%;
    height: auto;
    max-height: 700px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}
.block-content__big-image {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    max-height: 700px;
}
